img.description_image {
    width: 100%;
    margin-top: 2%;
}

 .description_text_long  a {
    color: cadetblue;
}

.description_text a {
    color: cadetblue;
}

.show-more-button {
    cursor: pointer;
}

.show-more-button:hover {
    color: violet;
}